.linkColors {
  padding: 12px;
  width: 500px;
}

.setupName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 8px;
}

.description {
  font-size: 16px;
}

.dots {
  display: inline-flex;
  gap: 3px;
  margin-right: 2px;
}

.setups {
  font-size: 14px;
  color: var(--color-fg-weaker);
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.setup {
  padding: 8px;
  background-color: var(--color-bg-lighter);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
