.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 4px;
}

.color-R {
  background: var(--color-negative);
}

.color-G {
  background: var(--color-positive);
}

.color-B {
  background: var(--color-highlight);
}

.color-W {
  background: var(--color-fg);
}

.root {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  --vertical-padding: 7px;

  &:not(:first-child) {
    padding-top: var(--vertical-padding);
  }

  &:not(:last-child) {
    padding-bottom: var(--vertical-padding);
    border-bottom: 1px solid #353535;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
  }

  .extra {
    font-size: 14px;
    color: var(--color-fg-weaker);
  }
}

.disabled {
  opacity: 0.5;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.root .title::after {
  --size: 20px;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

.root.active .title::after {
  content: "A";
  background-color: var(--color-bg-lightest);
}
