.name {
  font-size: 18px;
  padding: 8px 0;

  &.sticky {
    position: sticky;
    top: 0px;
    z-index: 2;

    background-color: var(--color-bg);
  }
}

.root {
  display: inline-block;
}

.inputWrapper {
  width: 100%;
}
