.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 4px;
  font-size: 16px;
  justify-content: flex-end;
}

.stat {
  &:not(:first-child)::before {
    content: ' / ';
    color: var(--color-fg-weakest);
    font-weight: 400;
  }

  &.str {
    color: var(--color-negative);
  }

  &.dex {
    color: var(--color-positive);
  }

  &.int {
    color: var(--color-highlight);
  }
}
