.input {
  width: 250px;
}

.inputOutput {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 24px;
  min-height: 40px;
}

.submit {
  margin-top: 12px;
}

.sectionTitle {
  font-size: 22px;
}
