.sectionTitle {
  font-size: 24px;
  margin-bottom: 0.75em;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}

.horizontalFields {
  display: flex;
  gap: 8px;
}

.form .actions {
  display: flex;
  align-items: center;
}
